*{
    box-sizing: border-box;
}

.color1{
 background-color: #644285;
}

.color2{
 background-color: #763072;
}

.color3{
 background-color: #37818a;
}

#main-container {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(71, 108, 163);
    margin: 100px auto;
    padding: 10px 0px;
    width: 350px;
    height: 450px;
}

#displayDiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid rgb(173, 173, 173);
    background-color:rgb(245, 245, 245);
    text-align: right;
    font-size: 30px;
    padding: 20px;
    margin: auto;
    width: 90%;
    height: 20%;
    margin: 5px auto 10px auto;
    font-family: 'Orbitron', sans-serif;
}

#grid-container{
    height: 75%;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.button{
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items:  center;
    color: white;
    width: 65px;
    height: 55px;
    margin: auto;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

#zero {
    grid-column: 1 / 3;
    width: 141px;
}